Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
HeaderFilterRegex: 'gower_metric/cpp/'
HeaderFileExtensions: ['hpp']
ImplementationFileExtensions: ['cpp']
WarningsAsErrors: ''
